.blog-container {
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.content-container {
    display: block;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
    padding: 1rem;
}

.content-container:hover,
.content-container:active,
.content-container:focus {
    text-decoration: none;
    color: #000;
    background: #504f4f1c;
    cursor: pointer;
}

.blog-heading {
    border-bottom: 1px solid #cecbcb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.blog-btns .btn {
    border-radius: 0;
}
.username {
    display: block;
}

.img-container {
    float: left;
    margin-right: 1rem;
}

.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #757474;
    box-shadow: 0 0 0.2rem #42424266;
}

textarea.form-control {
    height: 10rem;
}

.faded {
    display: block;
    color: #9a9a9a;
}

.blog-title {
    font-weight: bold;
    margin: 1rem;
}

.blog-disp-btns {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0.5rem;
    text-align: center;
    transition: 0.2s;
    outline: none !important;
}
.blog-disp-btns:hover {
    background: #1818bb10;
    cursor: pointer;
    transition: 0.2s;
}

.blog-disp-btns.like:hover {
    background: #0011ff59;
}
.blog-disp-btns.like.liked {
    background: #00f;
    color: #fff;
}

.blog-disp-btns.like.liked:hover {
    background: #04049e;
    transition: 0.2s;
}

.blog-disp-btns.comment:hover {
    background: #14751c26;
}

.comment.comment-active {
    background: #0c9417;
    color: #fff;
}

.comment.comment-active:hover {
    background: #04670c;
}

.blog-disp-btns.share:hover {
    background: #5900ff45;
}

.full-blog {
    border: 1px solid #a7a7a7;
    border-radius: 0.2rem;
    overflow: hidden;
}

.blog-content {
    padding: 2rem;
}

.full-blog .content {
    padding: 2rem 0;
}

.comment-box {
    position: relative;
    height: 6rem;
    margin-top: 1rem;
    display: none;
}

.comment-ip {
    top: 0;
    position: absolute;
    width: 100%;
    height: 3rem;
    background: #fff;
    border: 1px solid #a2a2a2;
    left: 0;
    border-radius: 0.2rem;
    transition: 0.2s;
    outline: none !important;
    box-shadow: none !important;
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.comment-ip:focus {
    border-color: #00f;
    border-width: 0.1rem;
    transition: 0.2s;
}

.comment-btn {
    z-index: 200;
    display: block;
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    height: 3rem;
    border-radius: 0 0.2rem 0.2rem 0;
}

.comment-container {
    border: 1px solid #aaa;
    border-radius: 0.2rem;
    margin: 2rem 0;
    padding: 1rem;
}

.comment-text {
    margin: 0;
}

.likes-display-comments {
    padding: 1rem;
}

.comment-container .blog-heading {
    padding-bottom: 15px;
}